body{
    background: url("img/tausta.jpg");
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
   background-repeat: no-repeat;
   height: 110%;
    font-family: Monospace, Helvetica, Arial, sans-serif;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(51, 153, 154, 0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0, .5);
    border-radius: 10px;
}
.box h2 {
    margin: 0 0 30;
    padding: 0;
    color: #fff;
    text-align: center;
}
.box .inputBox {
    position: relative;

}
.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid#fff;
    outline: none;
    background: transparent;
}
.box .inputBox[type="submit"]
{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
}
.button {
    border: none;
    color: white;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
  }

  