body{
    margin: 0;
    padding: 0;
    background: url("img/shoes-4012135_1920.jpg");
   background-size: cover;
    font-family: Monospace, Helvetica, Arial, sans-serif;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 40px;
    background: rgba(0,0,0, .8);
}